@{
    ViewData["Title"] = "Cook Sous Vide";
}


<!--main-->
@*<section class="main" style="height: 150px;">*@
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--logo-->
                <div class="logo"><img src="~/img/logo.png" alt="logo"></div>
                <!--logo end-->
            </div>
            <div class="col-md-6">
                <header class="text-center">    
                    <h1><span class="">Cow - Rib</span></h1>
                </header>
                <div>
                    <div class="row">
                        <div class="col-md-4" style="text-align:right;">
                            Rare
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            Well done
                        </div>
                    </div>
                    <div class="progress" style="margin-bottom:0px; height:30px;">
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                        </div>
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                        </div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="text-align:right;">
                            12 &deg;
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            18 &deg;
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="text-center">
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis lorem nec nisl facilisis pulvinar. Morbi fringilla id neque eu vestibulum. Fusce luctus sollicitudin varius. Proin sit amet faucibus neque. Duis nec tincidunt felis, fermentum varius magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt elementum augue ac sagittis.
                    </p>
                <img src="http://rikishore.com/wp-content/uploads/2011/09/cookedshortribs-1024x680.jpg" style="max-height: 140px;" />

                <p>
Maecenas turpis nibh, maximus sed ornare sed, interdum non urna. Mauris facilisis libero ac ornare imperdiet. Praesent rutrum urna at elementum semper. Vivamus id sem quis lacus viverra rutrum eu sit amet risus. Duis dolor ligula, lacinia quis nulla vitae, tempor posuere enim. Cras bibendum libero id ex consectetur posuere. Nullam bibendum pulvinar ligula, non auctor dolor consectetur a. Morbi pulvinar imperdiet dapibus. Aliquam feugiat vulputate sapien, et rutrum nisi bibendum sed. Aliquam arcu quam, egestas sit amet maximus eu, mollis at odio.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Alles over de koe</h2>
            <img src="https://usercontent1.hubstatic.com/12934426_f520.jpg" />
            <ul>
                <li>Loin</li>
                <li>Rib</li>
                <li>Etc.</li>
                <li>Etc.</li>
                <li>Etc.</li>
            </ul>
        </div>
    </div>
</div>
@*</section>*@
<!--main end-->
<!--Features-->

<section class="features section-spacing" id="SousVideFoodItem">
    <div class="container">
        <div id="SousVideFoodItemInfo"></div>
    </div>
</section>

<!--Features end-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>