@{
    ViewData["Title"] = "Cook Sous Vide";
}


<!--main-->
<section class="main">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--logo-->
                <div class="logo"><img src="img/logo.png" alt="logo"></div>@*data-at2x="img/logo@2x.png"*@
                <!--logo end-->
            </div>
            <div class="col-md-6">

                <!--welcome-message-->
                <header class="welcome-message text-center">
                    <h1><span class="rotate">Cook sous vide</span></h1>
                </header>
                <!--welcome-message end-->
                <!--sub-form-->
                <div class="sub-form text-center">
                    <form role="form" id="mc-form" action="">
                        <div class="input-group">
                            <input type="search" class="form-control" autofocus placeholder="Type eten, zoals: koe, zalm, fruit" required value="" name="SousVideProduct" id="SousVideAnimalKind">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" id="mc-subscribe" value="SousVideProduct" name="sousVideProduct">Search<i class="fas fa-search"></i></button>
                            </span>
                        </div>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Sub type, zoals: lende, borststuk, appel" required value="" name="MeatType" id="SousVideSubType">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" id="mc-subscribe" value="MeatType" name="meatType">Search<i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <p id="mc-notification"></p>

                </div>
                <!--sub-form end-->
            </div>
        </div>
    </div>
</section>
<!--main end-->
<!--Features-->

<section class="features section-spacing" id="SousVideFoodItem">
    <div class="container">
        <h2 class="text-center">Sous vide voedsel</h2>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                Type eten: <span id="SousVideAnimalKindLabel"></span>
                <br />Sub type: <span id="SousVideSubTypeLabel"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="wow fadeInUp product-features row">
                    <div class="col-md-2 col-sm-2 col-xs-2 text-center"><i class="fa fa-thermometer-quarter fa-3x"></i></div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <h4>Temperature of product</h4>
                        <div class="row">
                            <div class="col-md-4" style="text-align:right;">
                                Rare
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                Well done
                            </div>
                        </div>
                        <div class="progress" style="margin-bottom:0px; height:30px;">
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            </div>
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align:right;">
                                52.0&deg;
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                56.0&deg;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="SousVideFoodItemInfo"></div>
        
    </div>
</section>

<!--Features end-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section Scripts {
<script id="foodItemTemplate" type="text/x-jsrender">

    <div>
        <h2>{{:SousVideAnimalKindLabel}}</h2>
        <h3>{{:SousVideSubTypeLabel}}</h3>
        <p>{{:SousVideSubTypeInfo}}</p>

        <div class="wow fadeInUp product-features row">
            <div class="col-md-2 col-sm-2 col-xs-2 text-center"><i class="fa fa-thermometer-quarter fa-3x"></i></div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <h4>Temperature of product</h4>
                <div class="row">
                    <div class="col-md-4" style="text-align:right;">
                        Rare
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        Well done
                    </div>
                </div>
                <div class="progress" style="margin-bottom:0px; height:30px;">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                    </div>
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align:right;">
                        {{:SousVideSubTypeTemperatureLow}}&deg;
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        {{:SousVideSubTypeTemperatureHigh}}&deg;
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="~/js/jquery.autocomplete.js"></script>*@
    <script type="text/javascript">
        var selectedAnimalKind = "";
        var selectedSubtype = "";

        $(function () {
            initializeSousVideAnimalKind();
        });


        function initializeSousVideAnimalKind() {
            $('#SousVideAnimalKind').autocomplete({
                autoFocus: true,
                source: function (request, response) {
                    $.ajax({
                        dataType: "json",
                        type: 'Get',
                        url: '/Home/GetAnimalKinds?q=' + request.term,
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    animalKindSelected(ui.item.label);
                }
            });


        }

        function animalKindSelected(animalKind) {
            if (animalKind != selectedAnimalKind) {
                selectedAnimalKind = animalKind;
                selectedSubtype = "";
                initializeSubtype();
            }
        }

        function initializeSubtype() {
            initializeSubtypeAutocomplete();
            setAmountSubtypes();
            $('#SousVideSubType').focus();
        }

        function setAmountSubtypes() {
            $.ajax({
                dataType: "json",
                type: 'Get',
                url: '/Home/GetSubTypesCount?animalKind=' + selectedAnimalKind,
                success: function (data) {
                    $("#SousVideSubType").attr("placeholder", "Sub type, zoals: lende, borststuk, appel (" + data + " gevonden)");
                }
            });
        }

        function initializeSubtypeAutocomplete() {
            $('#SousVideSubType').autocomplete({
                autoFocus: true,
                source: function (request, response) {
                    $.ajax({
                        dataType: "json",
                        type: 'Get',
                        url: '/Home/GetSubTypes?animalKind=' + selectedAnimalKind + '&q=' + request.term,
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    subtypeSelected(ui.item.label);
                }
            });
        }

        function subtypeSelected(subType) {
            if (subType != selectedSubtype) {
                selectedSubtype = subType;

                $('html, body').animate({ scrollTop: $("#SousVideFoodItem").offset().top}, 1000);

                //todo: retrieve a single IFoodItemModel and add it to a js render
                $("#SousVideAnimalKindLabel").html(selectedAnimalKind);
                $("#SousVideSubTypeLabel").html(selectedSubtype);
            }
        }

    </script>

}